@import "tailwindcss";

:root {
  --background: #1f2937;
  --foreground: #1f2937;
}

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/

/*}*/

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f2937;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*!* Remove or override custom styles below *!*/
/*html, body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/
